{% extends 'blogApp/base.html' %}

{% block title %}
    Message de réinitialisation du mot de passe envoyé
{% endblock %}

{% block main %}
    <!-- Content -->
    <div class="bg-base-100 rounded p-4 mt-2 flex flex-col gap-2">
        <h1 class="text-2xl">Message de réinitialisation du mot de passe envoyé</h1>
        <p>Nous vous avons envoyé par courriel les instructions pour changer de mot de passe, pour autant qu’un compte existe avec l’adresse que vous avez indiquée. Vous devriez recevoir rapidement ce message.</p>

        <p>Si vous ne recevez pas de message, vérifiez que vous avez saisi l’adresse avec laquelle vous vous êtes enregistré et contrôlez votre dossier de pourriels.</p>
    </div>
    <!-- END Content -->
{% endblock %}