{% extends 'blogApp/base.html' %}

{% block title %}
    Mot de passe oublié ?
{% endblock %}

{% block main %}
    <!-- Content -->
    <div class="bg-base-100 rounded p-4 mt-2 flex flex-col gap-2">
        <h1 class="text-2xl">Réinitialisation du mot de passe</h1>

        <p>Mot de passe perdu ? Saisissez votre adresse électronique ci-dessous et nous vous enverrons les instructions pour en créer un nouveau.</p>

        <form method="post" class="form-control">
            {% csrf_token %}
            <div class="form-control">
                <label class="label" for="id_email">Adresse électronique</label>
                <input class="input input-bordered"
                        type="email" name="email" autocomplete="email" maxlength="254" required id="id_email">
            </div>
            <button class="btn mt-2" type="submit">Réinitialiser mon mot de passe</button>
        </form>
    </div>
    <!-- END Content -->
{% endblock %}