{% extends 'blogApp/base.html' %}

{% block title %}
    Mot de passe oublié ?
{% endblock %}

{% block main %}
    <!-- Content -->
    <div class="bg-base-100 rounded p-4 mt-2 flex flex-col gap-2">
        <h1 class="text-2xl">Saisissez un nouveau mot de passe</h1>
        <p>Saisissez deux fois votre nouveau mot de passe afin de vérifier qu’il est correctement saisi.</p>
        {% if form.errors %}
            <div class="bg-error flex p-2 rounded items-center gap-3">
                <div>
                    <i class="fa-solid fa-circle-exclamation"></i>
                </div>
                <div class="flex flex-col gap-0.5">
                    {{ form.errors.new_password1 }}
                    {{ form.errors.new_password2 }}
                </div>
            </div>
        {% endif %}
        <form method="post" class="form-control">
            {% csrf_token %}
            <div class="form-control">
                <label class="label" for="id_new_password1">
                    Nouveau mot de passe
                </label>
                <input class="input input-bordered"
                       type="password" name="new_password1"
                       autocomplete="new-password" required
                       aria-describedby="id_new_password1_helptext" id="id_new_password1"/>
                <label class="label" for="id_password1">
                    <span class="label-text-alt text-sm" id="id_password1_helptext">Le mot doit faire plus de 8 caractères, ne pas être un mot de passe trop commun et ne pas être entièrement numérique.</span>
                </label>

            </div>
            <div class="form-control">
                <label class="label" for="id_new_password2">Confirmation du mot de passe</label>
                <input class="input input-bordered"
                       type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
            </div>
            <button class="btn mt-2" type="submit">
                Modifier mon mot de passe
            </button>
        </form>
    </div>
    <!-- END Content -->
{% endblock %}