<form action="{% url 'add_offer' %}" method="post">
    {% csrf_token %}
    <div class="grid grid-cols-2 gap-2">
        <div class="form-control">
            <label class="label" for="id_type">{{ form.type.label }}*</label>
            <select class="select select-bordered" name="type" id="id_type">
                <option value="offer" selected>Offre</option>
                <option value="demand">Demande</option>
            </select>
        </div>
        <div class="form-control">
            <label class="label" for="id_category">{{ form.category.label }}*</label>
            <select class="select select-bordered" name="category" id="id_category">
                <option value="unpaid" selected>Bénévole</option>
                <option value="paid">Rémunéré</option>
            </select>
        </div>
    </div>
    <div class="form-control">
        <label class="label" for="id_title">{{ form.title.label }}*</label>
        <input class="input input-bordered" type="text" name="title" maxlength="50" required id="id_title">
    </div>
    <div class="form-control">
        <label class="label" for="id_summary">{{ form.summary.label }}*</label>
        <input class="input input-bordered" type="text" name="summary" maxlength="255" required id="id_summary">
    </div>
    <div class="form-control">
        <label class="label" for="id_description">{{ form.description.label }}</label>
        <textarea class="textarea textarea-bordered" name="description" rows="5" maxlength="5000" id="id_description"></textarea>
    </div>
    <div class="form-control">
        <label class="label" for="id_city">{{ form.city.label }}</label>
        <input class="input input-bordered" type="text" name="city" maxlength="255" id="id_city">
    </div>
    <div class="grid grid-cols-2 md:grid-cols-3 gap-2">
        <div class="form-control">
            <label class="label" for="id_min_age">{{ form.min_age.label }}</label>
            <input class="input input-bordered" type="number" name="min_age" min="0" id="id_min_age">
            {{ form.min_age.errors }}
        </div>
        <div class="form-control">
            <label class="label" for="id_max_age">{{ form.max_age.label }}</label>
            <input class="input input-bordered" type="number" name="max_age" min="0" id="id_max_age">
            <p>{{ form.max_age.errors }}</p>
        </div>
        <div class="form-control col-span-2 md:col-span-1">
            <label class="label" for="id_gender">{{ form.gender.label }}</label>
            <select class="select select-bordered" name="gender" id="id_gender">
                <option value="" selected>---------</option>
                <option value="other">Non-Binaire</option>
                <option value="female">Femme</option>
                <option value="male">Homme</option>
            </select>
        </div>
    </div>
    <input class="btn btn-block mt-2" type="submit" value="Déposer mon annonce">
</form>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<script>
    const mydata = {{ fr_cities|safe }}
</script>

<div
    x-data="{
        multiple: false,
        value: 1,
        options: mydata,
        init() {
            this.$nextTick(() => {
                let choices = new Choices(this.$refs.select)

                let refreshChoices = () => {
                    let selection = this.multiple ? this.value : [this.value]

                    choices.clearStore()
                    choices.setChoices(this.options.map(({ value, label }) => ({
                        value,
                        label,
                        selected: selection.includes(value),
                    })))
                }

                refreshChoices()

                this.$refs.select.addEventListener('change', () => {
                    this.value = choices.getValue(true)
                })

                this.$watch('value', () => refreshChoices())
                this.$watch('options', () => refreshChoices())
            })
        }
    }"
    class="max-w-sm w-full"
>
    <select x-ref="select" :multiple="multiple"></select>
</div>
<div>
    {{ fr_cities }}
</div>



<!--
    Notice: We have to use jQuery 3.5.1 instead of 3.6.0 because select2's
    input field won't autofocus on open in that version for this reason:
    https://github.com/select2/select2/issues/5993
 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<div
    x-data="{
        multiple: false,
        value: '1',
        options: mydata,
        init() {
            let bootSelect2 = () => {
                let selections = this.multiple ? this.value : [this.value]

                $(this.$refs.select).select2({
                    multiple: this.multiple,
                    data: this.options.map(i => ({
                        id: i.value,
                        text: i.label,
                        selected: selections.map(i => String(i)).includes(String(i.value)),
                    })),
                })
            }

            let refreshSelect2 = () => {
                $(this.$refs.select).select2('destroy')
                this.$refs.select.innerHTML = ''
                bootSelect2()
            }

            bootSelect2()

            $(this.$refs.select).on('change', () => {
                let currentSelection = $(this.$refs.select).select2('data')

                this.value = this.multiple
                    ? currentSelection.map(i => i.id)
                    : currentSelection[0].id
            })

            this.$watch('value', () => refreshSelect2())
            this.$watch('options', () => refreshSelect2())
        },
    }"
    class="max-w-sm w-full"
>
    <select x-ref="select" class="w-full"></select>
</div>