{% extends "blogApp/base.html" %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% block title %}
    Petites Annonces Théâtre
{% endblock title %}

{% block main %}
    <div class="bg-base-100 rounded p-2 mt-2">
        <form action="{% url 'login' %}" class="form-control">
        {% if form.errors %}
            <p class="text-sm text-pink-700">Nom d'utilisateur et mot de passe ne correspondent pas. Essaie encore !</p>
        {% endif %}
        {% csrf_token %}
        <label for="id_username" class="mb-3">Email</label>
        <input class="input mb-3 input-bordered"
               type="email" name="username" required placeholder="abcde@xyz.fr" id="id_username">

        <label for="id_password" class="mb-3">Mot de passe</label>
        <input class="input mb-3 input-bordered"
               type="password" name="password" placeholder="*************" required id="id_password">

        <button class="btn"
                type="submit">Se connecter</button>
        <input type="hidden" name="next" value="{% url 'index'%}">
        </form>
        <button class="btn btn-block btn-accent mt-2">S'inscrire</button>
    </div>
    {{ form.as_table }}
{% endblock %}