{% extends "blogApp/base.html" %}

{% block title %}
    Petites Annonces Théâtre
{% endblock title %}

{% block main %}
    <div class="bg-base-100 rounded p-4 mt-2 flex flex-col">
        <h1 class="text-xl">
            Bienvenue sur <a href="{% url 'index' %}" class="link">petites-annonces-theatre</a>, votre site dédié aux petites annonces pour le théâtre amateur !
        </h1>

        <h2 class="text-lg font-bold mt-2">
            Notre mission
        </h2>
        <p>
            Nous avons créé ce site pour répondre à un besoin essentiel : permettre aux passionnés, comédiens amateurs, troupes et metteurs en scène de se rencontrer et collaborer.
            Que vous cherchiez des comédiens pour votre prochaine production ou que vous soyez un acteur en quête d'une troupe, notre plateforme est là pour vous.
        </p>

        <h2 class="text-lg font-bold mt-2">
            Pourquoi nous existons
        </h2>
        <p>
            Tout a commencé avec la fermeture de la page "Annonces" du site <a class="link" href="https://www.theatre-contemporain.net/annonces/">theatre-contemporain.net</a>, une ressource précieuse pour les annonces théâtrales.
            La migration vers <a class="link" href="https://www.artcena.fr/annonces">Artcena</a>, qui se concentre uniquement sur les emplois professionnels, a laissé un vide pour les amateurs.
            En tant que comédien amateur moi-même, j'ai ressenti ce manque.
            C'est pourquoi j'ai décidé de créer un espace dédié aux amateurs, pour que la passion du théâtre puisse continuer à prospérer et à s'épanouir.
        </p>

        <h2 class="text-lg font-bold mt-2">
            Comment ça marche
        </h2>
        <p>
            Sur <a href="{% url 'index' %}" class="link">petites-annonces-theatre</a>, vous pouvez :
        <ul>
            <li>
                <span><i class="fa-solid fa-check"></i></span> <span class="font-semibold">Publier des annonces</span> : Que vous soyez à la recherche de comédiens pour un projet spécifique ou que vous offriez vos talents de comédien, notre site vous permet de publier et de consulter des annonces gratuitement.
            </li>
            <li>
                <span><i class="fa-solid fa-check"></i></span> <span class="font-semibold">Répondre à des annonces</span>
            </li>
        </ul>
        <p>
        Et c'est tout ! Pas besoin de faire compliqué quand on peut faire simple : nous nous sommes inspiré du fonctionnement de <a class="link" href="https://www.theatre-contemporain.net/annonces/">theatre-contemporain.net</a>.
        </p>
        <h2 class="text-lg font-bold mt-2">Un site gratuit et hébergé en France</h2>
        <p>
            Nous avons également choisi d'héberger <a href="{% url 'index' %}" class="link">petites-annonces-theatre</a> chez
            <a href="https://www.o2switch.fr/" class="link">o2switch</a>, un hébergeur français reconnu pour sa fiabilité et ses faibles coûts de fonctionnement.
            Grâce à cette solution d'hébergement efficace, nous pouvons garantir que notre site restera toujours gratuit et sans publicité.
            Nous croyons fermement que l'accès aux ressources pour le théâtre amateur ne devrait pas être entravé par des coûts supplémentaires
            ou des distractions publicitaires, et nous nous engageons à maintenir cet espace accessible à tous les passionnés de théâtre.
        </p>
        <h2 class="text-lg font-bold mt-2">
            Rejoignez-nous
        </h2>
        <p>
            Nous vous invitons à rejoindre notre plateforme et à faire partie de cette aventure théâtrale.
            Ensemble, nous pouvons créer un espace où la passion du théâtre amateur peut continuer à vivre et à inspirer.
        </p>

        <p class="mt-2 italic text-lg">
            Merci de votre visite et bienvenue dans notre communauté théâtrale !
        </p>

        <h2 class="text-lg font-bold mt-6">Quelques ressources supplémentaires</h2>
        <p>
        <ul>
            <li>
                <span><i class="fa-solid fa-link"></i></span> <a href="https://www.artcena.fr/annonces" class="link">Artcena</a>
            </li>
            <li>
                <span><i class="fa-solid fa-link"></i></span> Groupe Facebook : <a href="https://www.facebook.com/groups/1938098569737654/" class="link">Théâtre : annonces auditions</a>
            </li>
            <li>
                <span><i class="fa-solid fa-link"></i></span> Groupe Facebook : <a href="https://www.facebook.com/groups/2469130543348250/" class="link">Théâtre et dramaturgie</a>
            </li>
            <li>
                <span><i class="fa-solid fa-link"></i></span> Groupe Facebook : <a href="https://www.facebook.com/groups/176327691960144/" class="link">Annonce pour theâtre amateur et bénévole, sur Paris et l'Île de France</a>
            <li>
                <span><i class="fa-solid fa-link"></i></span> <a href="https://www.theatrotheque.com/biz/annonces.php?pge=0&option=moteur&Region_rech=&Recherche=&SRub_rech=37#gsc.tab=0" class="link">TheatroBiz</a>
            </li>
            <li>
                <span><i class="fa-solid fa-link"></i></span> <a href="https://www.spectable.com/Th%C3%A9%C3%A2tre-amateur/petites-annonces/cherche/acteur-actrice/n_2095.php" class="link">Spectable</a>
            </li>
            <li>
                <span><i class="fa-solid fa-link"></i></span> <a href="https://www.ici-azimut.fr/" class="link">Azimut</a>
            </li>
        </ul>
        </p>

    </div>
{% endblock main %}
