{% extends "blogApp/base.html" %}

{% block title %}
Petites Annonces Théâtre
{% endblock title %}

{% block main %}
<!--Search Bar-->
<div>
    <label class="input input-bordered flex items-center gap-2">
        <input type="text" class="grow" placeholder="Rechercher des offres" />
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" /></svg>
    </label>
</div>

<!--Offers cards-->
<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 mt-2 gap-1">
    <div class="card card-compact bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">
                Cherche comédien pour pièce rapidement si possible
                <div class="badge badge-secondary">NEW</div>
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis sapien quis mi porttitor consectetur. Etiam id facilisis mi. Aliquam ut egestas dui, a aliquam neque. Fusce suscipit sed justo ac hendrerit. Quisque et ultricies est. Interdum sed.</p>

            <div class="flex card-actions justify-end items-center">
                <div class="badge">Offre</div>
                <div class="badge badge-outline">Bénévole</div>
                <a class="btn btn-sm" href="">Voir</a>
            </div>
        </div>
    </div>
    <div class="card card-compact bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">
                Cherche comédien pour pièce rapidement si possible
                <div class="badge badge-secondary">NEW</div>
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis sapien quis mi porttitor consectetur. Etiam id facilisis mi. Aliquam ut egestas dui, a aliquam neque. Fusce suscipit sed justo ac hendrerit. Quisque et ultricies est. Interdum sed.</p>

            <div class="flex card-actions items-center justify-between">
                <div class="italic">
                    10/02/1991
                </div>
                <div class="">
                    <div class="badge">Offre</div>
                    <div class="badge badge-outline">Bénévole</div>
                    <a class="btn btn-sm" href="">Voir</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-compact bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">
                Cherche comédien pour pièce rapidement si possible
                <div class="badge badge-secondary">NEW</div>
            </h2>
            <p>Lorem ipsum dolor sit amet, </p>

            <div class="flex card-actions items-center justify-between">
                <div class="italic">
                    10/02/1991
                </div>
                <div class="">
                    <div class="badge">Offre</div>
                    <div class="badge badge-outline">Bénévole</div>
                    <a class="btn btn-sm" href="">Voir</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-compact bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">
                Cherche comédien pour pièce rapidement si possible
                <div class="badge badge-secondary">NEW</div>
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis sapien quis mi porttitor consectetur. Etiam id facilisis mi. Aliquam ut egestas dui, a aliquam neque. Fusce suscipit sed justo ac hendrerit. Quisque et ultricies est. Interdum sed.</p>

            <div class="flex card-actions items-center justify-between">
                <div class="italic">
                    10/02/1991
                </div>
                <div class="">
                    <div class="badge">Offre</div>
                    <div class="badge badge-outline">Bénévole</div>
                    <a class="btn btn-sm" href="">Voir</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-compact bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">
                Cherche comédien pour pièce rapidement si possible
            </h2>
            <p>Lorem ipsum dolor sit amet, </p>

            <div class="flex card-actions items-center justify-between">
                <div class="italic">
                    10/02/1991
                </div>
                <div class="">
                    <div class="badge">Offre</div>
                    <div class="badge badge-outline">Bénévole</div>
                    <a class="btn btn-sm" href="">Voir</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-compact bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">
                Cherche comédien pour pièce rapidement si possible
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis sapien quis mi porttitor consectetur. Etiam id facilisis mi. Aliquam ut egestas dui, a aliquam neque. Fusce suscipit sed justo ac hendrerit. Quisque et ultricies est. Interdum sed.</p>

            <div class="flex card-actions items-center justify-between">
                <div class="italic">
                    10/02/1991
                </div>
                <div class="">
                    <div class="badge">Offre</div>
                    <div class="badge badge-outline">Bénévole</div>
                    <a class="btn btn-sm" href="">Voir</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-compact bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">
                Cherche comédien pour pièce rapidement si possible
            </h2>
            <p>Lorem ipsum dolor sit amet, </p>

            <div class="flex card-actions items-center justify-between">
                <div class="italic">
                    10/02/1991
                </div>
                <div class="">
                    <div class="badge">Offre</div>
                    <div class="badge badge-outline">Bénévole</div>
                    <a class="btn btn-sm" href="">Voir</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}